@charset 'utf-8';

$pri-color1: #141a26;
$sec-color1: #8679d9;
$sec-color2: #81fded;
$point-color1: #f78a69;

@mixin transCent {
	transform: translate(-50%, -50%);
}

@keyframes bounce {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -5px);
	}
}

@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bomb {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

html,
body {
	width: 100%;
	height: 100%;
	background-image: url(../img/milky-way-2695569_1920.jpg);
	background-size: cover;
	scroll-behavior: smooth;
}
#wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	margin: 0 auto;

	> h1 {
		position: absolute;
		left: 50%;
		top: 20%;
		z-index: 100;
		height: 35px;
		padding-top: 10px;
		transform: translate(-50%, 0);
		background-image: linear-gradient(to left, #35e6e6 0%, #e946ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-size: 60px;
		letter-spacing: 3px;
	}

	> #home {
		overflow: hidden;
		position: relative;

		> .intro {
			> .text {
				position: absolute;
				left: 50%;
				top: 55%;
				z-index: 100;
				width: 470px;
				color: #fff;
				font-size: 42px;
				font-weight: 800;
				line-height: 1.5;
				@include transCent;
			}
		} //end of .intro
		> .bgmov {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			width: 100%;

			> video {
				min-width: 100%;
				min-height: 100%;
			}
		} //end of .bgmov
		> .mouse {
			position: absolute;
			left: 50%;
			bottom: 40px;
			z-index: 100;
			width: 30px;
			height: 50px;
			border: 2px solid #fff;
			box-sizing: border-box;
			border-radius: 15px;
			transform: translate(-50%, 0);

			@keyframes mousewheel {
				0% {
					top: 5px;
					opacity: 0;
				}
				30% {
					top: 10px;
					opacity: 1;
				}
				100% {
					top: 20px;
					opacity: 0;
				}
			}
			> .wheel {
				position: absolute;
				left: 50%;
				top: 5px;
				width: 4px;
				height: 10px;
				text-indent: -9999px;
				background-color: #fff;
				transform: translate(-50%, 0);
				border-radius: 2px;
				animation: mousewheel 1s linear infinite;
			}
		}
	} //end of #home

	> header {
		display: none;
		> nav {
			position: fixed;
			left: 30px;
			top: 50%;
			z-index: 1000;
			transform: translate(0, -50%);
			> .gnb {
				> li {
					margin-bottom: 15px;
					> a {
						display: block;
						color: #fff;
						transition: all 0.8s;
					}
					&:hover > a {
						font-size: 18px;
						font-weight: 600;
					}
				}
			}
		}
	} //end of header

	> header ~ section {
		padding: 0 20px;
		box-sizing: border-box;
	}
	> #about-me {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		height: 100vh;
		background-color: #000;

		> h2 {
			position: absolute;
			left: 8%;
			top: 100px;
			display: flex;
			color: #fff;
			font-size: 32px;
			letter-spacing: 2px;
			> span {
				display: block;
				margin: 0 10px;
				color: $sec-color1;
				font-weight: 800;
				font-size: 38px;
				animation: bounce 0.7s infinite alternate;
			}
		} //end of h2

		> .container {
			position: absolute;
			right: 0;
			bottom: 20px;
			display: flex;
			flex-flow: row-reverse nowrap;
			justify-content: flex-end;
			align-items: flex-end;
			height: 100vh;

			> .profile {
				> h3 {
					> img {
						display: block;
						width: 600px;
						height: 600px;
					}
				}
			} //end of .profile

			> .vision {
				> p {
					width: 450px;
					padding-bottom: 40px;
					color: #fff;
					font-size: 24px;
					line-height: 1.3;
					text-align: justify;
					text-indent: 3px;

					> span {
						color: $point-color1;
					}
				} //end of p
			} //end of .vision
		} //end of .container
	} //end of #about-me

	> #skills {
		position: relative;
		height: 100vh;

		&:after {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 100;
			background-color: $pri-color1;
			opacity: 0.5;
			content: '';
		}

		> .skills {
			position: relative;
			width: 100%;
			height: 100%;

			> .skills-container {
				position: absolute;
				z-index: 300;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				width: 400px;

				> h3 {
					margin-bottom: 10px;
					color: #fff;
					font-size: 20px;
					font-weight: 500;
					line-height: 1.5;
					> span {
						display: block;
						margin-top: 5px;
						color: $sec-color2;
						font-size: 18px;
						animation: bomb 1.7s linear infinite;
					}
				} //end of h3

				&:nth-of-type(1) {
					left: 10%;
					top: 10%;
					> h3 {
						margin-left: 15px;
					}
					&:hover ~ .semantic {
						display: block;
					}
				}
				&:nth-of-type(2) {
					right: 5%;
					top: 20%;

					&:hover ~ .react {
						display: block;
					}
				}
				&:nth-of-type(3) {
					left: 45%;
					top: 45%;
					> h3 {
						margin-left: 20px;
					}

					&:hover ~ .rwd {
						display: block;
					}
				}
				&:nth-of-type(4) {
					left: 5%;
					top: 70%;

					&:hover ~ .uiux {
						display: block;
					}
				}
				> img {
					display: block;
					width: 200px;
					animation: roll 20s linear infinite;
				} //end of img
			} //end of .skills-container
			> .skills-works {
				display: none;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 500;
				transform: translate(-50%, -60%);
				background-position: center center;
				background-repeat: no-repeat;
				border-radius: 65px;

				> img {
					display: block;
					width: 400px;
					height: 650px;
				}
				&.semantic {
					width: 400px;
					height: 650px;
					background-image: url(../img/skills/mykatalk.gif);
					background-size: 360px 640px;
				} //end of .semantic,.react
				&.react {
					overflow: hidden;
					background-image: url(../img/skills/todo.gif);
					background-size: 370px 690px;
					background-position: center bottom;
					border-radius: 70px;
				}
				&.rwd {
					background-image: url(../img/skills/kurly.gif);
					background-size: 370px 640px;
				}
				&.uiux {
					top: 40px;
					width: 826px;
					height: 745px;
					background-image: url(../img/skills/computer-2214393_1280.png);
					background-size: 826px 745px;
					transform: translate(-30%, 0);
					> video {
						position: absolute;
						left: 50%;
						top: 13px;
						width: 800px;
						transform: translate(-50%, 0);
						border-radius: 20px;
					}
				}
			} //end of .skill-works
		} //end of .skills
	} //end of #skills

	> #portfolio {
		position: relative;
		width: 100%;
		height: 100vh;

		&:after {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 100;
			background-color: $pri-color1;
			opacity: 0.5;
			content: '';
		}
		> .slides-container {
			position: relative;
			left: 50%;
			top: 5%;
			z-index: 200;
			width: 85%;
			max-width: 1600px;
			transform: translate(-50%, 0);
			> .slides {
				> li {
					position: absolute;
					left: 0;
					top: 0;
					z-index: 300;
					display: flex;
					justify-content: space-around;
					width: 100%;
					padding: 50px 0;
					box-sizing: border-box;

					&:before {
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: -1;
						background-color: #000;
						opacity: 0.4;
						content: '';
					}

					> .desc {
						position: relative;
						display: flex;
						flex-flow: column nowrap;
						justify-content: space-between;
						width: 28%;
						padding: 10px;
						color: #fff;
						line-height: 1.5;
						text-align: justify;
						box-sizing: border-box;

						> h3 {
							margin-bottom: 50px;
							font-size: 28px;
						}
						> p {
							font-size: 15px;
							&.proc {
								margin-top: 20px;
								line-height: 1.7;
							}
							&.button {
								display: flex;
								justify-content: center;
								> a {
									padding: 5px 12px;
									color: #fff;
									letter-spacing: 2px;
									background-color: darken($sec-color1, 28%);
									border-radius: 8px;

									&:first-child {
										margin-right: 15px;
									}

									&:hover {
										font-weight: 500;
										background-color: darken($sec-color1, 50%);
									}
								}
							} //end of .button
							> span {
								font-size: 16px;
							}
						}
					} //end of .desc

					> .frame {
						width: 60%;

						> video {
							width: 100%;
							border-radius: 5px;
						}
						> img {
							display: block;
							width: 100%;
							border-radius: 5px;
						}
					} //end of .frame

					&:nth-child(1) {
						display: block;
					}
					&:nth-child(2) {
						display: none;
						align-items: center;
						> .desc {
							> h3 {
								margin-bottom: 90px;
							}
							> .proc {
								margin: 45px 0;
							}
						}
					} //end of nth-child(2)
				} //end of li
			} //end of .slides-container
			> a {
				position: absolute;
				top: 300px;
				z-index: 300;
				display: block;
				width: 30px;
				height: 30px;
				text-indent: -9999px;
				background-image: url(../img/portfolio/spriteImg.png);

				&.slides-prev {
					left: 0;
					background-position: -13px -20px;

					&:hover {
						background-position: -13px -62px;
					}
				}
				&.slides-next {
					right: 0;
					background-position: -13px -104px;

					&:hover {
						background-position: -13px -147px;
					}
				}
			} //end of a
		}
	} //end of #portfolio
} //end of #wrap
