@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -5px);
  }
}
@keyframes moonbounce {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(20px, 35px);
  }
  60% {
    transform: translate(40px, 0);
  }
  80% {
    transform: translate(60px, -35px);
  }
  100% {
    transform: translate(80px, 0);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bomb {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../img/milky-way-2695569_1920.jpg);
  background-size: cover;
  scroll-behavior: smooth;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1280px;
  margin: 0 auto;
}
#wrap > h1 {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 100;
  height: 35px;
  padding-top: 10px;
  transform: translate(-50%, 0);
  background-image: linear-gradient(to left, #35e6e6 0%, #e946ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 60px;
  letter-spacing: 3px;
}
#wrap > #home {
  overflow: hidden;
  position: relative;
}
#wrap > #home > .intro > .text {
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 100;
  width: 470px;
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.5;
  transform: translate(-50%, -50%);
}
#wrap > #home > .bgmov {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
#wrap > #home > .bgmov > video {
  min-width: 100%;
  min-height: 100%;
}
#wrap > #home > .mouse {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 100;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 15px;
  transform: translate(-50%, 0);
}
@keyframes mousewheel {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}
#wrap > #home > .mouse > .wheel {
  position: absolute;
  left: 50%;
  top: 5px;
  width: 4px;
  height: 10px;
  text-indent: -9999px;
  background-color: #fff;
  transform: translate(-50%, 0);
  border-radius: 2px;
  animation: mousewheel 1s linear infinite;
}
#wrap > header {
  display: none;
}
#wrap > header > nav {
  position: fixed;
  left: 30px;
  top: 50%;
  z-index: 1000;
  transform: translate(0, -50%);
}
#wrap > header > nav > .gnb > li {
  margin-bottom: 15px;
}
#wrap > header > nav > .gnb > li > a {
  display: block;
  color: #fff;
  transition: all 0.8s;
}
#wrap > header > nav > .gnb > li.on,
#wrap > header > nav > .gnb > li :hover > a {
  font-size: 18px;
  font-weight: 600;
}
#wrap > header ~ section {
  padding: 0 20px;
  box-sizing: border-box;
}
#wrap > #about-me {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;
  background-color: #000;
}
#wrap > #about-me > h2 {
  position: absolute;
  left: 8%;
  top: 100px;
  display: flex;
  color: #fff;
  font-size: 32px;
  letter-spacing: 2px;
}
#wrap > #about-me > h2 > span {
  display: block;
  margin: 0 10px;
  color: #8679d9;
  font-weight: 800;
  font-size: 38px;
  animation: bounce 0.7s infinite alternate;
}
#wrap > #about-me > .container {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}
#wrap > #about-me > .container > .profile > h3 > img {
  display: block;
  width: 600px;
  height: 600px;
}
#wrap > #about-me > .container > .vision > p {
  width: 450px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 24px;
  line-height: 1.3;
  text-align: justify;
  text-indent: 3px;
}
#wrap > #about-me > .container > .vision > p > span {
  color: #f78a69;
}
#wrap > #about-me > .container > .vision > p + p > span {
  color: #ff4ced;
}
#wrap > #skills {
  position: relative;
  height: 100vh;
}
#wrap > #skills:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #141a26;
  opacity: 0.5;
  content: "";
}
#wrap > #skills > .skills {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrap > #skills > .skills > .skills-container {
  position: absolute;
  z-index: 300;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 400px;
}
#wrap > #skills > .skills > .skills-container > h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
#wrap > #skills > .skills > .skills-container > h3 > span {
  display: block;
  margin-top: 5px;
  color: #81fded;
  font-size: 18px;
  animation: bomb 1.7s linear infinite;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(1) {
  left: 10%;
  top: 10%;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(1) > h3 {
  margin-left: 15px;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(1):hover ~ .semantic {
  display: block;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(2) {
  right: 5%;
  top: 20%;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(2):hover ~ .react {
  display: block;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(3) {
  left: 45%;
  top: 45%;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(3) > h3 {
  margin-left: 20px;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(3):hover ~ .rwd {
  display: block;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(4) {
  left: 5%;
  top: 70%;
}
#wrap > #skills > .skills > .skills-container:nth-of-type(4):hover ~ .uiux {
  display: block;
}
#wrap > #skills > .skills > .skills-container > img {
  display: block;
  width: 200px;
  animation: roll 20s linear infinite;
}
#wrap > #skills > .skills > .skills-works {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 500;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 65px;
}
#wrap > #skills > .skills > .skills-works > img {
  display: block;
  width: 400px;
  height: 650px;
}
#wrap > #skills > .skills > .skills-works.semantic {
  width: 400px;
  height: 650px;
  background-image: url(../img/skills/mykatalk.gif);
  background-size: 360px 640px;
}
#wrap > #skills > .skills > .skills-works.react {
  overflow: hidden;
  background-image: url(../img/skills/todo.gif);
  background-size: 370px 690px;
  background-position: center bottom;
  border-radius: 70px;
}
#wrap > #skills > .skills > .skills-works.rwd {
  background-image: url(../img/skills/kurly.gif);
  background-size: 370px 640px;
}
#wrap > #skills > .skills > .skills-works.uiux {
  top: 40px;
  width: 826px;
  height: 745px;
  background-image: url(../img/skills/computer-2214393_1280.png);
  background-size: 826px 745px;
  transform: translate(-30%, 0);
}
#wrap > #skills > .skills > .skills-works.uiux > video {
  position: absolute;
  left: 50%;
  top: 13px;
  width: 800px;
  transform: translate(-50%, 0);
  border-radius: 20px;
}
#wrap > #portfolio {
  position: relative;
  width: 100%;
  height: 100vh;
}
#wrap > #portfolio:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #141a26;
  opacity: 0.5;
  content: "";
}
#wrap > #portfolio > .slides-container {
  position: relative;
  left: 50%;
  top: 5%;
  z-index: 200;
  width: 85%;
  max-width: 1600px;
  transform: translate(-50%, 0);
}
#wrap > #portfolio > .slides-container > .slides > li {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 50px 0;
  display: none;
}
#wrap > #portfolio > .slides-container > .slides > li:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.4;
  content: "";
}
#wrap > #portfolio > .slides-container > .slides > li > .desc {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 28%;
  height: 600px;
  padding: 0 10px;
  color: #fff;
  line-height: 1.5;
  text-align: justify;
  box-sizing: border-box;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > h3 {
  margin-bottom: 90px;
  font-size: 28px;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p {
  font-size: 15px;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p.proc {
  margin: 45px 0;
  line-height: 1.7;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p.button {
  display: flex;
  justify-content: center;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p.button > a {
  padding: 5px 12px;
  color: #fff;
  letter-spacing: 2px;
  background-color: #3a2b98;
  border-radius: 8px;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p.button > a:first-child {
  margin-right: 15px;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p.button > a:hover {
  font-weight: 500;
  background-color: #191241;
}
#wrap > #portfolio > .slides-container > .slides > li > .desc > p > span {
  font-size: 16px;
}
#wrap > #portfolio > .slides-container > .slides > li > .frame {
  position: relative;
  display: flex;
  width: 60%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap > #portfolio > .slides-container > .slides > li > .frame > video {
  width: 100%;
  max-height: 600px;
  border-radius: 5px;
}
#wrap > #portfolio > .slides-container > .slides > li > .frame > img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
#wrap > #portfolio > .slides-container > .slides > li:nth-child(1) {
  display: flex;
}
#wrap > #portfolio > .slides-container > .slides > li:nth-child(3) > .frame {
  background-image: url(../img/portfolio/smartphone-2237421_1280.png);
}
#wrap > #portfolio > .slides-container > .slides > li:nth-child(3) > .frame > img {
  position: absolute;
  left: 50%;
  top: 53px;
  width: 300px;
  height: 505px;
  border-radius: 0;
  transform: translate(-50%, 0);
}
#wrap > #portfolio > .slides-container > .slides > li:nth-child(4) > .frame {
  background-image: url(../img/portfolio/browser.png);
  background-size: 100% 600px;
}
#wrap > #portfolio > .slides-container > .slides > li:nth-child(4) > .frame > img {
  position: absolute;
  left: 50%;
  top: 77px;
  width: 96%;
  height: 520px;
  transform: translate(-50%, 0);
}
#wrap > #portfolio > .slides-container > a {
  position: absolute;
  top: 300px;
  z-index: 300;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-image: url(../img/portfolio/spriteImg.png);
}
#wrap > #portfolio > .slides-container > a.slides-prev {
  left: 0;
  background-position: -13px -20px;
}
#wrap > #portfolio > .slides-container > a.slides-prev:hover {
  background-position: -13px -62px;
}
#wrap > #portfolio > .slides-container > a.slides-next {
  right: 0;
  background-position: -13px -104px;
}
#wrap > #portfolio > .slides-container > a.slides-next:hover {
  background-position: -13px -147px;
}
#wrap > #contact {
  position: relative;
  height: 100vh;
  background-image: url(../img/space.jpg);
  background-size: cover;
}
#wrap > #contact:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #141a26;
  opacity: 0.5;
  content: "";
}
#wrap > #contact > .frame {
  position: absolute;
  right: 10%;
  top: 5%;
  animation: moonbounce 15s linear infinite alternate;
}
#wrap > #contact > .frame > img {
  display: block;
  width: 200px;
  height: 200px;
  animation: roll 25s linear infinite;
}
#wrap > #contact > .container {
  position: absolute;
  left: 12%;
  top: 10%;
  width: 85%;
  max-width: 1600px;
  height: 700px;
}
#wrap > #contact > .container > .keyword {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
}
#wrap > #contact > .container > .keyword > ol > li {
  position: absolute;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
#wrap > #contact > .container > .keyword > ol > li > span {
  display: block;
  margin-bottom: 35px;
  font-family: "Pacifico", cursive;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 3px;
}
#wrap > #contact > .container > .keyword > ol > li:nth-child(1) {
  left: 5%;
  top: 45px;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 42px #8679d9, 0 0 82px #8679d9, 0 0 92px #8679d9, 0 0 102px #8679d9, 0 0 151px #8679d9;
}
#wrap > #contact > .container > .keyword > ol > li:nth-child(2) {
  right: 40%;
  top: 155px;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 42px #81fded, 0 0 82px #81fded, 0 0 92px #81fded, 0 0 102px #81fded, 0 0 151px #81fded;
}
#wrap > #contact > .container > .keyword > ol > li:nth-child(3) {
  left: 20%;
  top: 255px;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 42px #f78a69, 0 0 82px #f78a69, 0 0 92px #81fded, 0 0 102px #f78a69, 0 0 151px #f78a69;
}
#wrap > #contact > .container > .keyword > ol > li:nth-child(4) {
  right: 25%;
  top: 385px;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 42px #ff4ced, 0 0 82px #ff4ced, 0 0 92px #ff4ced, 0 0 102px #ff4ced, 0 0 151px #ff4ced;
}
#wrap > #contact > .container > .contact-point {
  position: absolute;
  left: 40%;
  bottom: 80px;
  z-index: 300;
  transform: translate(-50%, 0);
}
#wrap > #contact > .container > .contact-point > ul {
  display: flex;
}
#wrap > #contact > .container > .contact-point > ul > li {
  margin-right: 50px;
}
#wrap > #contact > .container > .contact-point > ul > li > a {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
#wrap > #contact > .container > .contact-point > ul > li:last-child {
  margin-right: 0;
}
#wrap > footer {
  position: absolute;
  bottom: 0;
  z-index: 400;
  width: 100%;
  height: 150px;
  color: #dedede;
  font-size: 13px;
  line-height: 1.8;
  text-align: center;
}/*# sourceMappingURL=style.css.map */